
<%= form_for [@post, @comment || @post.comments.build], remote: true do |form| %>
 

  <div class="field">
    <%= form.label :body, 'Opinion' %>
    <%= form.text_area :body, id: :comment_body, rows: 4, cols: 60, placeholder: 'Share your opinion...' %>
  </div>

  <div class="actions">
    <%= form.submit 'Share Opinion' %>
  </div>
<% end %>
