
#comments-section {
    display: none;
    margin: auto;
    text-align: center;
}
.comments-link{
    color: #fff;
        background-color: #444;
        border-radius: 5px;
}

.comments-link:hover {
    color: #444;
    background-color: #fff;
    
}
.comments-link:active {
    background-color: #444;
color: #fff;
}

.user-icon {
	width: 50px;
	margin: auto;
}

#link-container {
	max-width: 250px;
    margin: auto;
    cursor: pointer;
	color: #fff;
	
}

#comments-form {
    margin: auto;
    
}

