<div class="top">
<div class="nav">
      <ul>
          
          <li class="New"><a href="#"><%= link_to 'New', posts_path %></a>
          <ul>
            <li><a href="#">Today</a></li>
            <li><a href="#">Last Week</a></li>
            <li><a href="#">Last Month</a></li>
            <li><a href="#">Last year</a></li>
            <li><a href="#">All Time</a></li>
          </ul>
        </li>
        
        <li class="Top"><a href="#">Top</a>
          <ul>
            <li><a href="#">Today</a></li>
            <li><a href="#">Last Week</a></li>
            <li><a href="#">Last Month</a></li>
            <li><a href="#">Last year</a></li>
            <li><a href="#">All Time</a></li>
          </ul>
        </li>
          
          <li class="Loved"><a href="#">Loved</a>
          <ul>
            <li><a href="#">Today</a></li>
            <li><a href="#">Last Week</a></li>
            <li><a href="#">Last Month</a></li>
            <li><a href="#">Last year</a></li>
            <li><a href="#">All Time</a></li>
          </ul>
        </li>
          
          <li class="Hated"><a href="#">Hated</a>
          <ul>
            <li><a href="#">Today</a></li>
            <li><a href="#">Last Week</a></li>
            <li><a href="#">Last Month</a></li>
            <li><a href="#">Last year</a></li>
            <li><a href="#">All Time</a></li>
          </ul>
        </li>
          
          <li class="Users"><a href="#">Ranked</a>
          <ul>
            <li><a href="#">Top</a></li>
            <li><a href="#">Loved</a></li>
            <li><a href="#">Hated</a></li>
          </ul>
        </li>
        
      </ul>
    </div>
</div>